body {
    background: #3D505D;
}

.dice-container {
    display: flex;
    width: 60%;
    min-width: 650px;
    height: 50%;
    margin: 5% 20%;

    background: #9F3A37;
}

.die {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 250px;
    margin: auto;

    background: #EFEFEF;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.25);
}

.roll {
    width: 60%;
    min-width: 650px;
    margin: 5% 20%;

    text-align: center;
}

.roll button {
    padding: 25px 50px;

    background: #CB5940;
    border: 3px solid #B04D37;
    color: #EFEFEF;
    font-size: 32px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.roll button:active {
    background: #B04D37;
}

.roll button:focus {
    outline: 0;
}

.die .row {
    display: flex;
    justify-content: space-around;
}

.dot-container {
    display: inline-block;
    width: 60px;
    height: 60px;

    border-radius: 30px;
}

.dot-container.active {
    background: #000000;
} 