.dice-container {
    display: flex;
    width: 60%;
    height: 50%;
    margin: 5% 20%;

    background: #dddddd;
}

.die {
    width: 250px;
    height: 250px;
    margin: auto;

    background: #ffffff;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.25);
}

.roll {
    width: 100%;
    text-align: center;
}

.roll button {
    padding: 25px 50px;

    background: #ffffff;
    border: 1px solid #dddddd;
    font-size: 32px;
}

.roll button:active {
    background: #dddddd;
}

.roll button:focus {
    outline: 0;
}